.container {
  background-color: #333;
}
.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  margin: 0 auto;
  color: white;
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.headerLink:hover {
  color: #ddd;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}